.unorder-container {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}
.text {
  text-align: center;
}

.search-container {
  background-color: beige;
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
}
.all-container-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
