.list-container {
  background-color: aliceblue;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px #97a8a5;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  width: 200px;
  height: 200px;
}
.heading-drink {
  font-size: 15px;
}
.button-details {
  background-color: lightblue;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
}
